:root {
    --nt-txt-shadow: -1px 0 1px #000, 0 1px 1px #000, 1px 0 1px #000, 0 -1px 1px #000, -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, 1px 1px 1px #000;
    --nt-cursor-pointer: pointer;
}

.nt-pointer {
    cursor: pointer;
}

.nt-text-shadow {
    text-shadow: var(--nt-txt-shadow);
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col.center > *,
.flex.center > * {
    align-items: center;
    display: flex;
}

.flex-break {
    flex-basis: 100%;
}

.inline-block {
    display: inline-block;
}

.example {
    display: none;
}

.text-shadow {
    text-shadow: 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000;
}

.hidden {
    display: none;
}


p {margin:0px}
img {user-select: none; }
img, input {vertical-align: middle;}
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

html { 
    font: normal normal normal 12px Tahoma; 
    height: 100%;
}

body { 
    margin:0px; 
    background:#000;
    height: 100%;
}

h1 {
    font-size:40px; 
    font-weight:bold; 
    margin-bottom:20px; 
    margin-top: 0px;
    padding: 0px 110px;
    text-align:center; 
    text-shadow:1px 1px 2px #000;
}

.breadcrumbs {
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}

.breadcrumbs a:hover {
    filter:brightness(150%);
}

.breadcrumbs > *:last-child {
    font-weight: bold;
    text-decoration: none;
    pointer-events: none;
}

#wrapper {
    min-height: 100%;
    position: relative;
  }

#divAjaxWait
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #0000;
    z-index:9999999999;
    cursor: url("/images/nt-images/nt_cursor_wait_1.png"), auto;
}


.loading-image {
    display: none;
    background-image: url("/images/nt-images/nt_cursor_wait_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

::placeholder {
    font-size:12px;
    padding:0px 5px;
}

input:disabled {
    background-color: #666;
    color:#AAA;
}

input.input-error {
    border-color: #F00 !important;
    box-shadow: 0px 0px 7px #F00;
}

.m0 { margin: 0px; }
.m1 { margin: 1px; }
.m2 { margin: 2px; }
.m3 { margin: 3px; }
.m4 { margin: 4px; }
.m5 { margin: 5px; }
.m10 { margin: 10px; }

.mt5 { margin-top:5px }

.navBar {
    position: relative; 
    width: 100%; 
    min-width: 1280px; 
    height: 40px; 
    background: linear-gradient(rgb(250,92,40), rgb(250,133,62)); 
    padding: 0 0; 
    text-align: center; 
    font-size: 13px;
    z-index: 999;
    filter:drop-shadow(0px 0px 2px #000);
}

.nav-collection { 
    display: flex;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    height: 40px; 
    user-select: none; 
}

.nav-item {
    position:relative; 
    display:inline-block; 
    color:#FFF; 
    height:40px; 
    width:120px;
    transition: all 0.2s; 
    text-shadow: var(--nt-txt-shadow);
}

.nav-item-space {
    position:relative; 
    display:inline-block; 
    height:40px; 
    width:2px;
    background: linear-gradient(#5550, #555F, #5550);
}

.nav-item:not(.empty):hover, 
.nav-item:not(.empty).active {
    background:linear-gradient(#bb6200, #aa3300); 
    box-shadow: 0 0px 3px #111;
}


.nav-item a {
    display:block;
    color:inherit;
    height:100%;
    width:100%;
}

.nav-item a img {
    position: absolute;
    top: 50%; 
    left: 5px;
    max-width: 20px;
    transform: translateY(-50%);
}

.nav-item a p {
    display: inline-block;
    position: absolute;
    color:inherit;
    top: 50%; 
    left: 30px;
    max-width: 95px;
    transform: translateY(-50%);
}

.nav-dropDown {
    display:none; 
    position:absolute; 
    top:100%; 
    z-index:999;
    padding:7px;
    background:rgb(250,133,62); 
    border: 1px solid #940;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

.dropDown-right .nav-dropDown {
    right: 0px;
}

.nav-dropDown a {
    display:block;
    position:relative;
    text-decoration:none; 
    height: 25px; 
    width: 200px;
    color:#FFF; 
    margin:2px;
    padding:2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.1s;
}

.nav-dropDown a.disabled {
    background: #999;
}

.nav-dropDown a .icon {
    display: block;
    height: 17px;
    width: 17px;
    padding:5px;
    border-radius: 25%;
    background: #B60;
    background-image:url('/images/kontakt.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 20px;
    cursor: pointer;
    pointer-events: none;
}

.nav-dropDown a .text {
    padding-left: 1px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.nav-dropDown-login .row {
    display:block;
    position:relative;
    background:rgb(250,133,62); 
    padding:3px;
    white-space: nowrap;
}

.nav-dropDown-login .row label, .nav-dropDown-login .row div {
    display:inline-block;
}

.nav-dropDown-login input[type=text], .nav-dropDown-login input[type=password] {
    display:block;
    position:relative;
    width:200px;
    height:20px;
    font-size:15px;
    border:1px solid #888;
    border-radius:3px;
    background-color:#222; 
    color:#FFF; 
    cursor: pointer;
}

.nav-dropDown-login span {
    display:block;
    position:relative;
    background:rgb(200,100,0); 
    color:#FFF; 
    text-shadow: var(--nt-txt-shadow);
}


.nav-dropDown .to-sub:after {
    background-image: url(/images/nt-images/way_arrow.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    content: ''; 
    width: 16px;
    height: 16px;
}

.nav-dropDown.sub {
    display:none;
}

.nav-dropDown.sub .to-main .icon {
    transform: rotate(180deg);
}




.footer {
    position: absolute; 
    bottom: 0;
    left: 0;
    width:100%; 
    height: 160px;
    min-width:1280px; 
    background:#111; 
    box-shadow: 0px 0px 3px #000; 
    padding:3px 0px; 
    color:#fff; 
    text-align:center; 
    z-index:99
}

.footer-table td {
    padding:3px 10px; 
    vertical-align: top;
}

.footer-title {
    font-size:18px;
    font-weight: bold;
    color: #FF8;
}

.footer-separator {
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #FF80,#FF8F,#FF80);
    margin-bottom:4px;
}

.footer-helper {
    font-size:14px;
    color: #59F;
    padding: 3px;
}

.footer-creator {
    text-shadow: var(--nt-txt-shadow);
    color: #F80;
    font-weight: bold;
    font-size:17px;
}

.footer-translator {
    padding:2px; 
}

.footer-translator img {
    width: 20px;
    height: 14px;
    margin-right:3px;
}

.footer-credits {
    position: absolute;
    padding: 3px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.footer-date {
    position: absolute;
    padding: 3px;
    bottom: 0px;
}

.footer-choose-lang {
    position: absolute;
    top: -35px;
    right:0px;
    height:25px;
    padding:5px;
    border-top-left-radius: 5px;
    background: #111;
    box-shadow: 0px 0px 3px #000; 
}

.footer-lang {
    padding: 0 5px;
}

.footer-lang img {
    height:25px;
    width:35px;
    box-shadow: 0;
    filter: brightness(40%);
}

.footer-lang img.active {
    box-shadow: 0 0 5px #F80, 0 0 5px #F80, 0 0 5px #F80;
    filter: brightness(100%);
}

.footer-choose-color {
    position: absolute;
    top: -35px;
    left:0px;
    height:25px;
    padding:5px;
    border-top-right-radius: 5px;
    background: #111;
    box-shadow: 0px 0px 3px #000; 
}

.footer-color {
    height: 31px;
    width: 30px;
    margin: -3px 0px;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
}




#logo { 
    position: relative; 
    width:100%; 
    min-width:1280px; 
    height:200px; 
    box-shadow: 0 3px 3px #000; 
    text-align:center; 
    z-index:2; 
    user-select: none;
}

#tloLogo { 
    box-shadow: inset 0 0 15px #000; 
    width:100%; 
    height:100%; 
    position:absolute; 
    top:0px; 
    left:0px; 
    z-index:-5; 
    background-image:url('../images/logo_background.jpg'); 
    background-repeat:none; 
    background-size:cover; 
    filter:brightness(90%);
    user-select: none; 
}

#expevent { 
    position:absolute; 
    top:0px; 
    left:50%; 
    margin-left:250px; 
    height:200px; 
    width:277px; 
    color:#FFF; 
    z-index:3;
}

#infoCiasteczka {
    display:none; 
    text-align:center; 
    position:fixed; bottom:0px; right:0px; 
    border-left:1px solid #555; border-top:1px solid #555; border-top-left-radius:5px; 
    padding:10px; 
    background:rgba(0,0,0, 0.8); box-shadow:0px 0px 3px #000; 
    z-index:999
}

#divStrona {
    padding:20px; 
    padding-bottom: 210px;
    margin: 0px auto 0px auto; width: 1240px; 
    position: relative; 
    color: #000;
    border-radius:50px;
    text-align:center;
}

.background-box {
    background:linear-gradient(rgba(215,215,215,0.3), rgba(165,165,165,0.35));
    box-shadow: 0 0px 10px #000; 
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 1280px;
    height: 100%;
}



.info-not-verified {
    background:#960; 
    padding:10px;
    width: calc(100% - 20px); 
}

.pagination .page-item {
    list-style-type: none;
}

.pagination .page-item {
    display: inline-block;
    background-color: #666;
    box-shadow: 0 0 0px 1px #000;
    border: 1px solid #999;
    border-radius: 2px;
    transition: .2s;
}

.pagination .page-item.active {
    background: linear-gradient(#C60, #A50);
}

.pagination .page-item:not(.active):hover {
    background-color: #A96;
}

.pagination .page-item > * {
    text-decoration: none;
    color: #FFF;
    padding: 4px 9px;
    font-size:16px;
}

.pagination  {
    padding: 0px;
}

.pagination .page-item.disabled {
    background: linear-gradient(#555, #222);
}

.pagination .page-item.disabled > * {
    color: #999;
}

.back-button {
    display: inline-block;
    background: linear-gradient(#444C, #222C);
    box-shadow: 0 0 0px 1px #000;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 13px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    color: #FFF;
    text-shadow: var(--nt-txt-shadow);
}

.back-button:hover {
    background: linear-gradient(#F93C, #C71C);
    text-shadow: var(--nt-txt-shadow);
}

.back-button.top-left {
    position: absolute;
    top: 15px;
    left: 15px;
}

.img-in-text {
    max-width: 17px;
    max-height: 17px;
}

.row-title-right tr td:first-child {
    text-align: right;
}


.sortable {
    list-style-type: none;
    margin: 10px auto;
    padding: 0;
    width: 100%;
}

.sortable ol {
    list-style-type: none;
}

.sortable li {
    margin: 5px 0 0 0;
    padding: 0;
    position: relative;
}

.sortable li div,
.sortable li a {
    display: block;
    border: 1px solid #999;
    padding: 6px;
    margin: 0;
    background: linear-gradient(#DDD,#BBB);
    position: relative;
    text-align: left;
    text-decoration: none;
    color: #000;
}

.sortable-placeholder {
    outline: 1px dashed #4183C4;
}


.sortable-list {
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 0;
    width: calc(100% - 20px);
}

.sortable-list ol {
    list-style-type: none;
}

.sortable-list li {
    margin: 5px 0 0 0;
    padding: 0;
    position: relative;
}

.sortable-list li > div,
.sortable-list li > a {
    display: block;
    border: 1px solid #999;
    padding: 2px;
    margin: 0;
    position: relative;
    text-align: left;
    text-decoration: none;
}

.sortable-list .delete_button {
    position:absolute;
    right: 2px;
    top: 2px;
}

.sortable-placeholder {
    outline: 1px dashed #4183C4;
}

.delete_icon {
    background-image: url(/images/nt-images/buttonexit.png);
    background-size: contain;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.box-flex {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: stretch;
}

.item-flex {
    display: flex !important;
}

.item-flex div{
    display: flex;
}

.item-flex-icon{
    align-items: center;
    justify-content: center;
    width: 36px;
}

.item-flex-name {
    align-items: center;
}

.item-flex-icon img {
    max-width: 36px;
    max-height: 36px;
}

.search-flex {
    display: flex;
    flex-wrap: wrap;
}

.search-flex.col2 > a,
.search-flex.col2 > div {
    width: 50%;
}

.search-flex.col3 > a,
.search-flex.col3 > div {
    width: 33%;
}

.search-flex.col4 > a,
.search-flex.col4 > div {
    width: 25%;
}

.row-spacer td {
    all: unset !important;
}

.flex-full-width {
    display: flex;
}

.flex-full-width > * {
    flex: 1;
}

#simulator_mode {
    position: absolute;
    top: 10px;
    right: 0px;
    border: 2px solid #000;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
    background: linear-gradient(#555, #222);
    padding: 10px 10px;
    color: #AAA;
    text-shadow: var(--nt-txt-shadow);
    max-width: 150px;
    cursor: pointer;
    user-select: none;
}

#simulator_mode .title {
    font-weight: bold;
    margin-bottom: 5px;
}

#simulator_mode .description {
    font-size: 10px;
}

#simulator_mode.selected {
    border: 2px solid #F80;
    border-right: 0px;
    background: linear-gradient(#765, #432);
    color: #FFF;
    box-shadow: 0px 0px 5px 2px #F80;
}

.window-shop-select-tab {
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 0 0;
    width: 62px;
    height: 62px;
}

.window-shop-select-tab:not(.selected):hover {
    background-position: -62px 0;
}

.window-shop-select-tab.selected {
    background-position: -124px 0;
}

table tr.no-background td {
    background: none !important;
    border-color: #0000 !important;
}

.ping_text {
    animation-name: text_blink;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes text_blink {
    00% { color: #9F9; }
    70% { color: #9F9; }
    100% {  }
}