
  

  .oknoCP { z-index: 999; color:#fff; background-color: rgba(30,30,30,0.9); position: fixed; left: 5px; bottom: 5px; border-radius:5px; border: 1px solid rgb(140,140,140); box-shadow: inset 0 0 0 1px #000, 0 0 1px 1px #000; }
  .oknoBUFF { width:300px; z-index: 999; color:#fff;background-color: rgba(30,30,30,0.9); position: fixed; left: 5px; bottom: 5px; border-radius:5px; border: 1px solid rgb(140,140,140); box-shadow: inset 0 0 0 1px #000, 0 0 1px 1px #000; }
  .oknoRUNA { width:300px; z-index: 999; color:#fff;background-color: rgba(30,30,30,0.9); position: fixed; left: 5px; bottom: 5px; border-radius:5px; border: 1px solid rgb(140,140,140); box-shadow: inset 0 0 0 1px #000, 0 0 1px 1px #000; }
  .oknoSKAD { max-width:400px; z-index: 999; color:#fff;background-color: rgba(30,30,30,0.9); position: fixed; left: 5px; top: 5px; border-radius:5px; border: 1px solid rgb(140,140,140); box-shadow: inset 0 0 0 1px #000, 0 0 1px 1px #000; text-align:center; padding:8px; }
  .oknoSKAD .miniSKAD { overflow-x: hidden; overflow-x: auto; max-height:400px; }
  .oknoSKAD td { padding-bottom:0px; padding-top:0px }
  .oknoSKILL { color: #FFE9A9; width:300px; z-index: 999; color:#fff; background-color: rgba(30,30,30,0.9); position: fixed; right: 5px; bottom: 5px; border-radius:5px; border: 1px solid rgb(140,140,140); box-shadow: inset 0 0 0 1px #000, 0 0 1px 1px #000; }
  .miniSKILL, .miniBUFF, .miniCP, .miniRUNA { padding:15px; text-align:center }
  .btnUkryjOkno { position:absolute; right:5px; top:5px; cursor: var(--nt-cursor-pointer); width:15px; height:15px; background:url(/images/nt-images/buttonexit.png); background-size:cover;}
  .btnZamknijOkno { position:absolute; right:5px; top:5px; cursor: var(--nt-cursor-pointer); width:15px; height:15px; background:url(/images/nt-images/buttonexit.png); background-size:cover;}
          
  
  
  .arrowUp {background: url(/images/nt-images/arrow_up.png); width: 17px; height: 17px;}
  .arrowUp:hover {filter:brightness(140%); cursor: var(--nt-cursor-pointer);}
  
  .arrowDown {background: url(/images/nt-images/arrow_down.png); width: 17px; height: 17px;}
  .arrowDown:hover {filter:brightness(140%); cursor: var(--nt-cursor-pointer);}
  
.cursor-pointer {
  cursor: var(--nt-cursor-pointer)
}

.nt-item {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.oknoNT {
  background:rgba(0,0,0,0.5);
  border-radius:2px;
  position:relative;
  padding: 1px;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

.oknoNT .tytul {
  display: inline-block;
  background:linear-gradient(rgb(70,70,70),rgb(45,45,45) 15%, rgb(45,45,45) 50%, rgb(0,0,0) 50%, rgb(0,0,0));
  border-radius:2px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: clip;
  box-shadow: inset 0 0 0 1px #000, 0 0 1px 1px #000;
  border: 1px solid rgb(140,140,140);
  width:100%;
  margin-left:-1px;
  height:20px;
  color:#FFF;
  text-align:center;
  text-shadow: var(--nt-txt-shadow);
  font-family: Tahoma; font-size: 14px;
  padding:4px 0px;
}


.oknoNT .ramka {
  margin: 0px 1px 1px 1px;
  border: 1px solid rgb(80,80,80);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  padding:4px;
  text-align:center;
}

.oknoNT .ramka .dane {
  width:calc(100%-16px);
  height:calc(100%-16px);
  border-radius:2px;
  border: 1px solid #555;
  margin-left:-1px; margin-top:-1px;
  padding:8px;
  box-shadow: inset 0 0 0 1px #000;
  background:rgba(50,50,50,0.7);
  position:relative;
  color:#FFF;
}

.oknoNT .ramka .dane .zawartosc{
  width:100%;
  height:100%;
  border-radius:2px;
  border: 1px solid #666;
  box-shadow: 0 0 0 1px rgb(20,20,20);
  background:rgba(20,20,20,1);
  position:absolute;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.oknoNT .ramka .dane .zawartosc-relative{
  height:100%;
  border-radius:2px;
  border: 1px solid #666;
  box-shadow: 0 0 0 1px rgb(20,20,20);
  background:rgba(20,20,20,1);
  vertical-align:middle;
  text-align:center;
  position:relative; 
  padding:5px;
}

.oknoNT .ramka .dane .zawartosc-relative.left{
  text-align:left;
}

.oknoNT .ramka .dane .zawartosc-relative.flex{
  display: flex;
  flex-wrap: wrap;
}

.oknoNT .ramka .tabs {
  height: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.oknoNT .ramka .tabs.bottom {
  margin-top: -2px
}

.oknoNT .ramka .tabs .tab {
  height:100%;
  width: 100%;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:inline-block;
  border: 1px solid #555;
  box-shadow: inset 0 0 0 1px #000;
  background:rgba(0,0,0,0.5);
  position:relative;
  color:#AAA;
  cursor: var(--nt-cursor-pointer); 
}

.oknoNT .ramka .tabs .tab.empty {
  background:rgba(0,0,0,0.7);
}

.oknoNT .ramka .tabs.bottom .tab {
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-top: 0px;
}

.oknoNT .ramka .tabs .tab p {
  position:absolute;
  top:50%; left:50%;
  transform:translate(-50%, -50%);
}

.oknoNT .ramka .tabs .tab.selected {
  background:linear-gradient(rgba(90,90,90,0.7), rgba(70,70,70,0.7));
  color:#FFF;
}

.oknoNT .sub-title {
  color:#FFC;
  text-shadow: var(--nt-txt-shadow);
  text-align: left;
  padding: 3px;
  display: inline-block;
  width: 100%;
}

.oknoNT .sub-title.top0 {
  padding-top: 0px
}

.oknoNT .sub-title.top10 {
  padding-top: 10px
}


.oknoNT.secondary {
    background:rgba(30,35,30,0.5);
}
.oknoNT.secondary .tytul {
    background:linear-gradient(rgb(100,105,100),rgb(75,80,75) 15%, rgb(75,80,75) 50%, rgb(40,45,40) 50%, rgb(40,45,40));
}
.oknoNT.secondary .ramka .dane {
    background:rgba(80,85,80,0.7);
}
.oknoNT.secondary .ramka .dane .zawartosc,
.oknoNT.secondary .ramka .dane .zawartosc-relative {
    background:rgba(50,55,50,1);
}


.nt-button, .nt-button.blue {
  cursor: var(--nt-cursor-pointer); 
  padding: 5px 13px;
  border-radius: 8px;
  border: 1px solid #009;
  background: linear-gradient( #7AF 0%, #7AF 10%, #38F 25%, #38F 85%, #6AF 100%);
  color: #CEF;
  text-shadow: -1px 0 #05F, 0 1px #05F, 1px 0 #05F, 0 -1px #05F, -1px -1px #05F, -1px 1px #05F, 1px -1px #05F, 1px 1px #05F;
  outline: none;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.nt-button:hover, .nt-button.blue:hover {
  background: linear-gradient( #8BF 0%, #8BF 10%, #38F 25%, #5AF 85%, #8BF 100%);
}


.nt-button.orange {
  border: 1px solid #740;
  background: linear-gradient( #FA7 0%, #FA7 10%, #D83 25%, #D83 85%, #FA6 100%);
  color: #FEC;
  text-shadow: -1px 0 #C50, 0 1px #C50, 1px 0 #C50, 0 -1px #C50, -1px -1px #C50, -1px 1px #C50, 1px -1px #C50, 1px 1px #C50;
}

.nt-button.orange:hover {
  background: linear-gradient( #FB9 0%, #FB9 10%, #F90 25%, #F90 85%, #FB9 100%);
}

.nt-button.purple {
    border: 1px solid #740;
    background: linear-gradient( #FAF 0%, #FAF 10%, #C7C 25%, #C7C 85%, #FAE 100%);
    color: #FDF;
    text-shadow: -1px 0 #C2C, 0 1px #C2C, 1px 0 #C2C, 0 -1px #C2C, -1px -1px #C2C, -1px 1px #C2C, 1px -1px #C2C, 1px 1px #C2C;
  }
  
  .nt-button.purple:hover {
    background: linear-gradient( #FBF 0%, #FBF 10%, #D8D 25%, #D8D 85%, #FBF 100%);
  }

.nt-button.red {
    border: 1px solid #800;
    background: linear-gradient( #F88 0%, #F88 10%, #f44 25%, #f44 85%, #F77 100%);
    color: #FCC;
    text-shadow: -1px 0 #F00, 0 1px #F00, 1px 0 #F00, 0 -1px #F00, -1px -1px #F00, -1px 1px #F00, 1px -1px #F00, 1px 1px #F00;
}

.nt-button.red:hover {
    background: linear-gradient( #FAA 0%, #FAA 10%, #f66 25%, #f66 85%, #F99 100%);
}

.nt-button.disabled {
  cursor: var(--nt-cursor-default); 
  border: 1px solid #444;
  background: linear-gradient( #999 0%, #999 10%, #666 25%, #666 85%, #888 100%);
  color: #BBB;
  text-shadow: none;
}

.nt-button.disabled:hover {
  background: linear-gradient( #999 0%, #999 10%, #666 25%, #666 85%, #888 100%);
}

.nt-button-exit {
  border:none;
  width:14px;
  height:14px;
  background-image:url(/images/nt-images/buttonexit.png);
  background-size: contain;
  cursor: var(--nt-cursor-pointer); 
  vertical-align: middle;
}

input[type=checkbox] {
    cursor: var(--nt-cursor-pointer); 
}

input[type=text], input[type=number], input[type=password], input[type=email], textarea {
  background: #333337;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 2px; 
  outline: none;
  height: 15px;
  color: inherit;
  text-shadow: var(--nt-txt-shadow);
  text-align: center;
  cursor: var(--nt-cursor-pointer); 
}

input[type=text].form-input-text, input[type=number].form-input-text, input[type=password].form-input-text, input[type=email].form-input-text {
  min-width: 300px;
  height: 19px;
  width: calc(100%-16px);
  padding: 8px; 
  margin:5px;
  font-size:15px;
  color: inherit;
}

input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
    border-color: #DDD;
}

input[type=text]:disabled, input[type=number]:disabled, input[type=password]:disabled, input[type=email]:disabled, textarea:disabled {
    background: #CCC7;
}

.custom-select {
	position:relative;
	color:#FFF;
	cursor: var(--nt-cursor-pointer); 
	vertical-align: middle;
  display: inline-block;
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  height:15px; 
  width:15px;
  background-size: contain;
	background-image:url("/images/nt-images/arrow_down.png");
}

.custom-select .select-selected {
	height:15px;
  background: #333337;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 2px;
  padding-right: 18px; 
  outline: none;
}

.custom-select .select-options{
	position:absolute;
  top: 100%; 
  left:0px;
	overflow-y: auto;
	max-height:250px;
	width:100%;
	display:none;
	z-index:100;
}

.custom-select .select-options .option{
	position:relative;
	color:#FFF;
	cursor: var(--nt-cursor-pointer); 
	background: #333337;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 2px;
	box-shadow: inset 0 0 0px 1px #666;
	text-overflow: ellipsis;
  overflow: hidden;  
	white-space: nowrap;
}

.custom-select .select-options .option:hover {
  background: #666667;
}

.custom-select .select-options .option.hover {
  background: #555557;
}







input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px #333337 inset !important;
  -webkit-box-shadow: 0 0 0 30px #333337 inset !important;
  -webkit-text-fill-color: white !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.ajaxNotify, .statusNotify, .ajaxWaitNotify {
  display: none;
  position:fixed; 
  top:10%;
  background: #000A 85%; 
  width: 100%;
  z-index:1001;
  color: #FFF;
  text-align: center;
  font-size:25px;
  text-shadow: var(--nt-txt-shadow);
  pointer-events: none
}

.ajaxNotify:before, .statusNotify:before, .ajaxWaitNotify:before {
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: -10px;
    background: linear-gradient(#0000, #000A); 
}

.ajaxNotify:after, .statusNotify:after, .ajaxWaitNotify:after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 100%;
    background: linear-gradient(#000A, #0000); 
}




.filters {
  background:rgba(0,0,0,0.5);
  border-radius:2px;
  position:relative;
  padding: 1px;
  margin-bottom: 10px;
  max-width: 98%;
}

.filters .title {
  display: inline-block;
  background:linear-gradient(rgb(70,70,70),rgb(45,45,45) 15%, rgb(45,45,45) 50%, rgb(0,0,0) 50%, rgb(0,0,0));
  border-radius:2px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: clip;
  box-shadow: inset 0 0 0 1px #000, 0 0 1px 1px #000;
  border: 1px solid rgb(140,140,140);
  width:100%;
  margin-left:-1px;
  height:20px;
  color:#FFF;
  text-align:center;
  text-shadow: var(--nt-txt-shadow);
  font-family: Tahoma; font-size: 14px;
  padding:4px 0px;
}

.filters .border {
  margin: 0px 1px 1px 1px;
  border: 1px solid rgb(80,80,80);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  padding:4px;
  text-align:left;
  position:relative;
  color: #FFF;
}

.filters .group {
  display: inline-block;
  border: 1px solid #000C;
  background-color: #0002;
  border-radius: 5px;
  margin: 5px;
  text-shadow: var(--nt-txt-shadow);
}

.filters .buttons {
  margin-top: 5px;
}

.filters .buttons button {
  width: 130px;
  margin: 5px;
}

.filters .total-result {
  padding-top: 10px;
  float:left;
  font-size: 12px;
  color: #FFF9;
}

.filters .total-result.zero {
  padding-top: 10px;
  float:left;
  font-size: 14px;
  font-weight: bold;
  color: #F00;
  text-shadow: var(--nt-txt-shadow);
}

.filters .buttons .submit_filter {
  float:left;
}

.filters .buttons .clear_filter {
  float:right;
}

.filters .filter-input-text,
.filters .filter-input-number {
  background: #333C;
  border: 1px solid #999;
  border-radius: 3px;
  height: 19px;
  width: 200px;
  padding: 4px; 
  margin:5px;
  outline: none;
  font-size:15px;
  color: inherit;
  text-shadow: var(--nt-txt-shadow);
  text-align: left;
  cursor: var(--nt-cursor-pointer); 
}

.filters .group-from-to .group-title {
    margin-top: 3px;
    margin-bottom: -3px;
}

.filters .group-from-to .input-from {
    margin-right: 0px;
}

.filters .group-from-to .input-to {
    margin-left: 0px;
}

.filters .filter-input-text.number {
  width: 90px;
}

.filters .filter-input-text:focus,
.filters .filter-input-number:focus {
  border-color: #DDD;
}


.custom-radio {
    display: inline-block;
    width: 13px;
    height: 13px;
    background:#333C;
    vertical-align: middle;
    border: 1px solid #999;
    border-radius: 50%;
    cursor: var(--nt-cursor-pointer); 
    user-select: none;
}
.custom-radio.checked {
    background: radial-gradient(#DDD 0%, #DDD 30%, #0000 30%, #0000 100%);
    background-position: center;
}
.custom-radio.disabled {
    background:#999C;
    cursor: var(--nt-cursor-default); 
  }

.custom-checkbox,
.custom-double-checkbox,
.custom-array-checkbox {
    display: inline-block;
    width: 13px;
    height: 13px;
    background:#333C;
    vertical-align: middle;
    border: 1px solid #999;
    border-radius: 4px;
    cursor: var(--nt-cursor-pointer); 
    user-select: none;
}

.custom-checkbox.checked,
.custom-double-checkbox.checked,
.custom-array-checkbox.checked {
    background-image: url(/images/svg/checked1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

.custom-double-checkbox.blocked {
    background-image: url(/images/svg/checked0.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 70%;
}

.custom-checkbox.disabled,
.custom-double-checkbox.disabled,
.custom-array-checkbox.disabled {
    background:#999C;
    cursor: var(--nt-cursor-default); 
  }

.filter-box .custom-checkbox,
.filter-box .custom-double-checkbox,
.filter-box .custom-array-checkbox {
    padding: 4px;
    margin: 8px;
}

.filter-box.checkbox {
  max-width: 90px;
}

.checkbox-label {
    vertical-align: middle;
    cursor: var(--nt-cursor-default); 
}
  

.filters .filter-box {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 3px 0px;
}

.filters p,
.filters .filter-box p {
  margin: 0px 5px;
  padding: 0px 5px;
  text-shadow: var(--nt-txt-shadow);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filters .filter-box p img {
  position: absolute;
  top: calc(50% + 3px);
  left:50%;
  transform: translate(-50%, -50%);
  max-height: 20px;
  max-width: 20px;
}

.filters .filter-box.text p {
  text-align: left;
}
.filters .filter-box.checkbox p {
  text-align: center;
  height: 14px;
  position: relative;
}

.filters .filter-box .error-warning {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 37px;
  right: 5px;
  background-image: url(/images/nt-images/warning.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.filters .filter-box .error-warning span {
  display: none;
  padding: 5px;
  white-space: nowrap;
  right: 100%;
  position: absolute;
  background-color: #F00;
  pointer-events: none;
  font-size: 11px;
}

.filters .filter-box .error-warning:hover span {
  display: inline;
}


.autocomplete {
  position: relative;
}

.autocomplete-list {
  position: absolute;
  border-bottom: none;
  border-top: none;
  margin: -5px 5px 0px 5px;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete .not-selected {
  color: #AAA;
}

.autocomplete-list .item {
  background: #333E;
  border: 1px solid #999;
  color: #FC9;
  border-radius: 3px;
  height: auto;
  padding: 4px; 
  outline: none;
  font-size:12px;
  text-shadow: var(--nt-txt-shadow);
  text-align: left;
  cursor: var(--nt-cursor-pointer); 
}

.autocomplete-list .item:hover {
  background-color: #888; 
}


.box-einfo-wide {
  position: relative;
  display: inline-block;
  box-shadow: 0 0 3px #000;
  border: 1px solid #999;
  background: #000A;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  z-index: 1;
  vertical-align: top;
}

.box-einfo-wide.flex {
  display: flex;
  align-items: center;
}

.box-einfo-wide .wide-title {
  color:#FFF;
  font-size: 14px;
  margin-bottom: 5px;
}

.box-einfo-wide .bonus {
  color: #ff862c;
}


.box-einfo {
  position: relative;
  display: inline-block;
  width: 220px;
  min-height: 300px;
  box-shadow: 0 0 3px #000;
  border: 1px solid #999;
  background: #000A;
  border-radius: 4px;
  padding: 20px 50px;
  color: #fff;
  z-index: 1;
  vertical-align: top;
}

.box-einfo.passive {
  width: 200px;
  vertical-align: top;
}

.next-box-arrow {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/nt-images/way_arrow.png);
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  margin: 0px -25px;
  z-index: 2;
}

.buff-text {
  height: 14px;
  width: 14px;
  vertical-align: top;
}

.box-einfo .icon {
  position: absolute;
  top: 15px;
  left: 10px;
  max-width: 36px;
  max-height: 36px;
  min-width: 32px;
  min-height: 32px;
}

.box-einfo .clear {
  height:14px;
  display:block;
}

.box-einfo .name,
.box-einfo .time,
.box-einfo .buff-after,
.box-einfo .attack,
.box-einfo .accuracy,
.box-einfo .crit,
.box-einfo .blocked,
.box-einfo .def0,
.box-einfo .def1,
.box-einfo .def2,
.box-einfo .dodge,
.box-einfo .res0,
.box-einfo .res1,
.box-einfo .res2,
.box-einfo .res3,
.box-einfo .connections,
.box-einfo .cellOpt,
.box-einfo .cellSlots,
.box-einfo .eleAttribute,
.box-einfo .eleIncrease,
.box-einfo .ammo,
.box-einfo .pp,
.box-einfo .range,
.box-einfo .target,
.box-einfo .cast,
.box-einfo .cooldown,
.box-einfo .mana,
.box-einfo .concetration,
.buff-icon-name .time,
.buff-icon-name .buff-after {
    color: #f5c478;
}

.box-einfo .attack.plusWeapon {
  color: #defd02;
}

.box-einfo .attack.plusArmor {
  color: #8d5a0a;
}

.box-einfo .groupTitle {
  margin-bottom: 15px;
  padding-top: 15px;
}

.box-einfo .buff-after a {
  color: inherit;
  text-decoration: none;
}

.box-einfo .level,
.box-einfo .class,
.box-einfo .rarity {
  color: #cbcbcb;
}

.box-einfo .gender {
  color: #fff;
}

.box-einfo .cost {
  color: #ff323d;
}

.box-einfo .bonus,
.box-einfo .fairy,
.buff-icon-name .bonus {
  color: #ff862c;
}

.box-einfo .descr {
  color: #edecfd;
}

.box-einfo .combo .title {
  color: #6F6;
}

.box-einfo .custom-einfo-content {
  text-align: left;
  margin: 15px -15px 0px -15px;
  background-color: #0003;
  border-radius: 6px;
  padding: 3px;
  display: block;
}

.box-einfo .custom-einfo-content .title {
    color: #fff;
}

.box-einfo .custom-einfo-content a {
    display: block;
}


.box-box-details {
  display: inline-block;
  vertical-align: top;
}

.box-box-rarities {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.box-box-rarities .rarity {
  display: block;
  background-color: #333A;
  box-shadow: 0 0 0px 1px #000;
  border: 1px solid #999;
  border-radius: 8px;
  transition: .2s;
  text-decoration: none;
  color: #FFF;
  padding: 4px 9px;
  margin: 5px 0px;
  font-size:16px;  
  text-shadow: var(--nt-txt-shadow);
}

.box-box-rarities .rarity.active {
  background-color: #FA5A;
}

.box-box-rarities .rarity:not(.active) {
    cursor: var(--nt-cursor-pointer);
}

.box-box-rarities .rarity:not(.active):hover {
  background-color: #F938;
}

.box-box-content,
.box-buff-group-other {
  vertical-align: top;
  text-align: left;
  position: relative;
  display: inline-block;
  margin-left: 10px; 
  width: 300px;
  min-height: 300px;
  box-shadow: 0 0 3px #000;
  border: 1px solid #999;
  background: #000A;
  color: #FFF;
  border-radius: 4px;
  padding: 20px 15px;
}

.box-box-content .top-info,
.box-buff-group-other .top-info {
  position: absolute;
  top: 2px;
  left: 2px;
  color: #FFF;
}

.box-box-content .item-view {
  margin: 2px 0px;
  text-decoration: none;
}

.item-view .item-view-icon {
  background-repeat: no-repeat;
  background-position: center;
  height: 36px;
  width: 36px;
  display: inline-block;
}

.item-view .item-view-name {
  vertical-align: top;
  display: inline-block;
  height: 36px;
  width: calc(100% - 46px);
  position: relative;
}

.item-view .item-view-name p {
  position: absolute;
  top: 50%;
  left: 0%;
  max-height: 42px;
  transform: translateY(-50%);
  color: #f5c478;
  overflow: hidden;
  text-align: left;
}

.item-view .item-view-name p .title {
  color: #FFF;
}

.buff-view .buff-view-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 6px 0px;
}

.buff-view .buff-view-name {
  vertical-align: top;
  display: inline-block;
  height: 42px;
  width: calc(100% - 34px);
  position: relative;
}

.buff-view .buff-view-name .level {
  color: #cbcbcb;
}

.buff-view .buff-view-name p {
  position: absolute;
  top: 50%;
  left: 0%;
  max-height: 100%;
  transform: translateY(-50%);
  color: #f5c478;
  overflow: hidden;
}

#passives-details {
  margin-top:10px;
  position: relative;
}

.inv-item-bold {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  border: 2px solid #999;
  background-color: #000A;
  user-select: none;
}

.inv-item-bold:not(.active) {
    cursor: var(--nt-cursor-pointer);
}

.inv-item-bold:not(.active):hover {
  background-color: #F93A;
}

.inv-item-bold.active {
  background-color: #F90;
  border-color: #A60;
}



.character-view-box {
  display: inline-block;
  position: relative;
  height: 250px;
  width: 500px;
  perspective: 250px;
  margin-left: 0px;
  margin-bottom: 44px;
}

.character-view-box .element-character-view,
.character-view-box .element-view {
  margin-top: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.character-view-box .shadowChar {
  position: absolute; 
  top: 78%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.character-view-box .buttons {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: 30;
}

.character-view-box .buttons img{
  margin: 0px 30px
}

.character-view-box .area {
  position: absolute;
  background-image: url('/images/areas/1.jpg');
  background-repeat: repeat;
  transform-style: preserve-3d;
  transform: rotateX(10deg);
  height: calc(100% + 40px);
  width: 100%;
  margin-top: -10px;
  overflow:hidden;
  z-index: -1;
}

.character-view-box .area.shadow {
  box-shadow: 0px 0px 3px #000,0px 0px 3px #000;
}


.skill-3d-view,
.vehicle-3d-view {
  display: inline-block;
  position: relative;
  height: 400px;
  width: 770px;
  perspective: 400px;
  margin-left: 40px;
  margin-bottom: 70px;
}


.skill-3d-view .area,
.vehicle-3d-view .area {
  position: absolute;
  background-image: url('/images/areas/1.jpg');
  background-repeat: repeat;
  transform-style: preserve-3d;
  transform: rotateX(10deg);
  height: calc(100% + 40px);
  width: 100%;
  margin-top: -20px;
  overflow:hidden;
  z-index: -1;
}

.skill-3d-view .area table {
    margin: auto
}

.skill-3d-view .area.shadow,
.vehicle-3d-view .area.shadow {
  box-shadow: 0px 0px 3px #000,0px 0px 3px #000;
}

.vehicle-3d-view .vehicle {
  display: inline-block;
  margin: 0px -100px;
  z-index: 1;
  transform: rotate(0deg);
}

.vehicle-3d-view .buttons {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.area-background {
  position: absolute;
  top: calc(100% + 48px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% + 50px);
  margin-left: -25px;
}

.area-background .element {
  width:32px;
  height:32px;
  margin: 1px;
}



.choosable-image {
  border: 1px solid #000;
  cursor: var(--nt-cursor-pointer);
}

.choosable-image:hover {
  border: 1px solid #F80;
}

.skill-3d-view .sprite-box-main {
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  pointer-events: none
}

.skill-3d-view .sprite-box-main .sprite {
  background-position: center calc(50% + 10px);
}

.skill-3d-view .player {
  position: absolute; 
  bottom: 20%; 
  left: 50%; 
  transform: translate(-50%);
  pointer-events: none
}

.skill-3d-view .player.small1 { transform: translate(-50%) scale(0.8); }
.skill-3d-view .player.small2 { transform: translate(-50%, 10%) scale(0.6); }
.skill-3d-view .player.small3 { transform: translate(-50%, 15%) scale(0.5); }
.skill-3d-view .player.small4 { transform: translate(-50%, 35%) scale(0.3); }

.skill-3d-view .enemy {
  position: absolute; 
  bottom: 30%; 
  left: 50%; 
  transform: translate(-50%);
  transform-origin: bottom;
  pointer-events: none
}

.skill-3d-view .enemy.small1 { transform: translate(-50%) scale(0.8); }
.skill-3d-view .enemy.small2 { transform: translate(-50%) scale(0.6); }
.skill-3d-view .enemy.small3 { transform: translate(-50%) scale(0.5); }
.skill-3d-view .enemy.small4 { transform: translate(-50%) scale(0.3); }

.skill-3d-view .player.target-shadow,
.skill-3d-view .enemy.target-shadow {
  filter: drop-shadow(0px 0px 2px #F00);
}

.skill-3d-view table {
    border-collapse: collapse;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
.skill-3d-view table td {
    border: 1px solid #000D;
    position: relative;
}

.skill-3d-view table td.choosable-image {
    cursor: var(--nt-cursor-pointer);
  }

.skill-3d-view table td.choosable:hover {
  background: #05FA;
}
.skill-3d-view table td.too-far:hover {
  background: #F00A;
}

.skill-3d-view table td.red {
    background: #F007;
}

.skill-3d-view table td.orange {
    background: #F807;
}

.skill-3d-view table td.green {
    background: #0F07;
}


.sprite-box-main {
  width:170px;
  height: 200px;
  display: inline-block;
  position: relative;
}

.sprite-box-main .sprite {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center calc(50% + 70px);
}

.sprite-box-main .sprite.shadow,
.skill-3d-view .player.shadow {
  filter: drop-shadow(0px 0px 3px #000);
}


.shadowChar {
  width: 100px; 
  height: 46px;
  z-index: -1;
}


.window-minimap {
  background: rgba(0,0,0,0.5);
  border-radius: 2px;
  position: relative;
  padding: 1px;
  margin: 1px;
  width:155px; 
  display:inline-block;
}

.window-minimap.zoomable {
    cursor: var(--nt-cursor-pointer);
}

.window-minimap .map-name {
  display: inline-block;
  background: linear-gradient(rgb(70,70,70),rgb(45,45,45) 15%, rgb(45,45,45) 50%, rgb(0,0,0) 50%, rgb(0,0,0));
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  box-shadow: inset 0 0 0 1px #000, 0 0 1px 1px #000;
  border: 1px solid rgb(140,140,140);
  width: 100%;
  margin-left: -1px;
  height: 20px;
  color: #FFF;
  text-align: center;
  text-shadow: var(--nt-txt-shadow);
  font-size: 14px;
  padding: 4px 0px;
}

.window-minimap .border {
  margin: 0px 1px 1px 1px;
  border: 1px solid rgb(80,80,80);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 4px;
  text-align: center;
  height:146px; 
  position:relative
}

.window-minimap .map {
  position: absolute;
  left: 2px;
  top: 4px;
  width: 146px;
  height: 146px;
}

.no-map-backpack {
  max-height: 146px;
}

.window-minimap .minimap-point {
    width: 5px;
    height: 5px;
    background: rgba(255,0,0,1);
    position: absolute;
    border-radius: 50%;
    border: 1px solid #A00;
    transform: translate(-50%, -50%);
  }

.window-minimap .minimap-point.minimap-point-npc {
    background: rgba(0,0,255,1);
    border: 1px solid #00A;
}

.window-minimap .search-rod {
  width: 32px;
  height: 32px;
  background-image: url(/images/icons/2155.png);
  position: absolute;
  top: 2px;
  right: 2px;
  background-repeat: no-repeat;
}

.window-minimap .map-points-amount, 
.found-in-box .map-points-amount {
    position: absolute;
    top: 5px; 
    left: 5px;
    color: #0F0;
    text-shadow: var(--nt-txt-shadow);
}

#zoomed-minimap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #0009;
    z-index: 99999;
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
}

#zoomed-minimap #zoomed-minimap-map {
    position: relative;
    margin: auto;
}



#zoomed-minimap .zoomed-map-point {
    width: 11px;
    height: 11px;
    background: rgba(255,0,0,1);
    position: absolute;
    border-radius: 50%;
    border: 1px solid #A00;
    transform: translate(-50%, -50%);
}

#zoomed-minimap .zoomed-map-point.zoomed-map-point-npc {
    background: rgba(0,0,255,1);
    border: 1px solid #00A;
}


.ts-name-box {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.ts-name-box .change {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ts-name-box .change .next, 
.ts-name-box .change .previous {
  width: 30px;
  height: 30px;
  background-image: url(/images/nt-images/way_arrow.png);
  background-size: contain;
  cursor: var(--nt-cursor-pointer);
  display: block;
}

.ts-name-box .change .previous {
  transform: rotate(180deg);
}

.ts-name-box  .name {
  font-size: 20px;
  flex: 1;
}

.ts-preview-img img {
  max-height: 100px;
}

.nt-slot-skill {
    position: relative;
    display: inline-block;
    background-image: url(/images/nt-images/item-slot.png);
    width: 42px;
    height: 42px;
    color: #FFF;
    margin: 1px
}

.nt-slot-skill.selected {
    box-shadow: inset 0 0 5px 1px #EF0;
}

.nt-slot-skill.disabled img {
    background-color: #FFF5;
    filter: grayscale(1);
}

.nt-slot-skill:not(.disabled) {
    cursor: var(--nt-cursor-pointer)
}

.nt-slot-skill:not(.disabled):hover {
    box-shadow: inset 0 0 0 2px #F80;
}

.nt-slot-skill img {
    max-width: 38px;
    max-height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.nt-slot-skill .job {
    position: absolute;
    width: auto;
    height: 11px;
    top: 2px;
    right: 2px;
    font-size: 11px;
    color: #fff;
    border-bottom: 1px #656564 solid;
    text-shadow: #000 1px 1px 0px;
    border-bottom-left-radius: 2px;
    border-left: 1px #656564 solid;
    font-weight: normal;
    background: rgba(0,0,0,0.5);
    text-align: right;
    padding-right: 1px;
    padding-bottom: 2px;
}


.nt-item, .nt-item-small {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
}

.nt-item img, .nt-item-small img {
  max-width: 36px;
  max-height: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.nt-item-small {
  width: 32px;
  height: 32px;
}

.nt-item-small img {
  max-width: 32px;
  max-height: 32px;
}

.nt-multi-slot-item {
    display: inline-block;
}

.item-amount-percent {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    margin: 2px;
    width: 44px;
    height: 44px;
    border: 1px solid #888;
    border-radius: 2px;
    background: linear-gradient(#222, #000);
}
    
.item-amount-percent img {
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: 33px;
    height: 33px;
}

.item-amount-percent .percent {
    position: absolute;
    width: auto;
    height: 9px;
    top: 0px;
    right: 0px;
    font-size: 10px;
    color: #fff;
    border-bottom: 1px #656564 solid;
    text-shadow: #000 1px 1px 0px;
    border-bottom-left-radius: 2px;
    border-left: 1px #656564 solid;
    font-weight: normal;
    background: rgba(0,0,0,0.5);
    text-align: right;
    padding-right: 1px;
    padding-bottom: 2px;
}

.item-amount-percent .amount {
    position: absolute;
    width: auto;
    height: 9px;
    bottom: 0px;
    right: 0px;
    font-size: 10px;
    color: #fff;
    border-top: 1px #656564 solid;
    text-shadow: #000 1px 1px 0px;
    border-top-left-radius: 2px;
    border-left: 1px #656564 solid;
    font-weight: normal;
    background: rgba(0,0,0,0.5);
    text-align: right;
    padding-right: 1px;
    padding-bottom: 2px;
}

.nt-slot-item.small-slot,
.nt-slot-item2.small-slot, 
.nt-slot-item3.small-slot {
  background-size: 100%;
  width: 32px;
  height: 32px;
}

.nt-slot-item.small-slot img {
    max-width: 28px;
    max-height: 28px;
}

.nt-slot-item,
.nt-slot-item2, 
.nt-slot-item3 {
  position: relative;
  display: inline-block;
  background-image: url(/images/nt-images/item-slot.png);
  width: 42px;
  height: 42px;
  color: #FFF;
  margin: 1px
}

.nt-slot-item.selected,
.nt-slot-item2.selected {
  box-shadow: inset 0 0 5px 1px #EF0;
}

.nt-slot-item.disabled img {
  background-color: #FFF5;
  filter: grayscale(1);
}

.nt-slot-item.selectable:not(.selected):not(.disabled) {
    cursor: var(--nt-cursor-pointer)
}
  
.nt-slot-item.checkable:not(.disabled) {
    cursor: var(--nt-cursor-pointer)
}

.nt-slot-item.checkable.selected:not(.disabled) {
    cursor: var(--nt-cursor-pointer)
}

.nt-slot-item.selectable:not(.selected):not(.disabled):hover {
  box-shadow: inset 0 0 0 2px #F80;
}

.nt-slot-item.checkable:not(.disabled):hover {
  box-shadow: inset 0 0 0 1px #EF0;
}

.nt-slot-item.checkable.selected:not(.disabled):hover {
  box-shadow: inset 0 0 5px 1px #EF0, inset 0 0 0 1px #EF0;
}

.nt-slot-item img {
  max-width: 38px;
  max-height: 38px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.nt-slot-item .amount,
.nt-slot-item2 .amount {
  position: absolute;
  width: auto;
  height: 9px;
  bottom: 2px;
  right: 2px;
  font-size: 10px;
  color: #fff;
  border-top: 1px #656564 solid;
  text-shadow: #000 1px 1px 0px;
  border-top-left-radius: 2px;
  border-left: 1px #656564 solid;
  font-weight: normal;
  background: rgba(0,0,0,0.7);
  text-align: right;
  padding-right: 1px;
  padding-bottom: 2px;
  pointer-events: none;
}

.nt-slot-item2 {
    background-image: url(/images/nt-images/item-slot2.png);
}

.nt-slot-item2.selectable:not(.disabled):hover {
    box-shadow: inset 0 0 0 1px #F80;
    cursor: var(--nt-cursor-pointer)
}

.nt-slot-item3 {
    background-image: url(/images/nt-images/item-slot3.png);
}

.nt-slot-item2 > a,
.nt-slot-item3 > a {
    height: 100%;
    display: block;
}

.nt-slot-item2 > a > img,
.nt-slot-item3 > a > img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slot-dark {
    filter: brightness(0.5);
}

.slot-dark > a > img,
.slot-dark > img {
    filter: opacity(0.5);
}

.nt-wear-slot {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 38px;
  color: #FFF;
  margin: 1px
}

.nt-wear-slot.selectable:not(.selected):not(.disabled) {
    cursor: var(--nt-cursor-pointer)
}

.nt-wear-slot.selectable:not(.selected):not(.disabled):hover {
    box-shadow: inset 0 0 0 1px #FF0;
}

.nt-wear-slot img {
  max-width: 36px;
  max-height: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.wear-list {
  position: absolute;
  width: 308px;
  z-index: 50;
  display: none;
}

.wear-list .list {
  width: 100%;
  background: linear-gradient(#333, #111);
  border-radius: 3px;
  border: 1px solid #999;
  display: flex;
  flex-wrap: wrap;
}

.wear-list .pagination {
  width: 100%;
  height: 30px;
  background: #111;
  color: #FFF;
  border-radius: 3px;
  border: 1px solid #999;
  text-align: center;
  position: relative;
}

.wear-list .pagination .next, 
.wear-list .pagination .previous{
  width: 30px;
  height: 30px;
  background-image: url(/images/nt-images/way_arrow.png);
  background-size: contain;
  cursor: var(--nt-cursor-pointer);
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px;
}

.wear-list .pagination .previous{
  transform: rotate(180deg);
}

.wear-list .pagination .pages{
  line-height: 30px;
  display: inline-block;
}

.wear-list .pagination .clear_wear_slot{
  position: absolute;
  left: 1px;
  top: 1px;
}

.items-group {
  border: 1px solid #999;
  padding: 1px;
  margin: 2px 4px;
  display: inline-block;
  background: #FFF2;
}


.circle-slot-item {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgba(30,30,30,0.9);
  border-radius: 50%;
  border: 1px solid rgb(140,140,140);
  box-shadow: inset 0 0 0 1px #000, 0 0 1px 1px #000;
  position: relative;
}

.circle-slot-item.selected {
  border: 1px solid #F80;
  box-shadow: inset 0 0 0 2px #F80;
  background-color: #630E;
}

.circle-slot-item.selectable:not(.selected) {
    cursor: var(--nt-cursor-pointer)
}

.circle-slot-item.selectable:not(.selected):hover {
  box-shadow: inset 0 0 0 1px #F80;
  border: 1px solid #F80;
}

.circle-slot-item img {
  max-width: 28px;
  max-height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.table-basar-sticky-head {
    overflow: auto; 
    max-height: 500px;
}

.table-basar {
    width: 100%;
    border-spacing: 0px 2px;
    display: inline-table;
    vertical-align: top;
    margin-top: -2px;
}

.table-basar td {
    text-align: center;
    vertical-align: middle;
    padding: 0px 10px;
}

.table-basar td.left {
    text-align: left;
}

.table-basar td.right {
    text-align: right;
}

.table-basar td.slim {
    padding: 0px 2px;
}

.table-basar .title-row td {
    position: sticky; 
    top: 0; 
    z-index: 1;
    border-top: 1px solid #616266;
    border-bottom: 1px solid #616266;
    background: #111518;
    color: #FFF;
    text-shadow: var(--nt-txt-shadow);
    padding-top: 4px;
    padding-bottom: 4px;
}

.table-basar .title-row td:first-child {
    border-left: 1px solid #616266;
    border-radius: 4px 0px 0px 4px;
}

.table-basar .title-row td:last-child {
    border-right: 1px solid #616266;
    border-radius: 0px 4px 4px 0px;
}

.table-basar tr:not(.title-row) td {
    border-top: 1px solid #38383a;
    border-bottom: 1px solid #020202;
    background: linear-gradient(#1e1c1f, #161616);
    color: #FFF;
}

.table-basar tr:not(.title-row) td:first-child {
    border-left: 1px solid #131313;
    border-radius: 4px 0px 0px 4px;
}

.table-basar tr:not(.title-row) td:last-child {
    border-right: 1px solid #131313;
    border-radius: 0px 4px 4px 0px;
}

.table-teams td {
    vertical-align: bottom;
    padding: 5px;
}

.buff-icon-name a {
    text-decoration: none;
    cursor: var(--nt-cursor-pointer);
    color: inherit;
}

.buff-icon-name.details > * {
    padding: 5px 0px;
}

.buff-icon-name .buff-icon-name-icon {
    width: 15px; 
    height: 15px; 
    box-shadow: 1px 1px 1px #000;
}


.item-icon-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-icon-name-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 100%;
}

.item-icon-name.small-icon .item-icon-name-view img {
    width: 18px;
}

.item-icon-name-view.top {
    align-items: flex-start;
}

.item-icon-name-text {
    margin-left: 5px;
    text-align: left;
    flex: 1;
}

.item-icon-name-title {
    color: #FFF;
}

.item-icon-name-description {
    color: #AAA;
}

.item-icon-name-amount {
    color: #FC0;
}


.monster-icon-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.monster-icon-name.flex-column {
    flex-direction: column;
}

.monster-icon-name-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: relative;
    overflow-y: hidden;
}

.monster-icon-name.flex-column .monster-icon-name-view {
    margin-bottom: 5px;
}

.monster-icon-name-view img {
    max-height: 100%;
    max-width: 100%;
}

.monster-icon-name-text {
    margin-left: 5px;
    text-align: left;
    flex: 1;
}

.monster-icon-name-title {
    color: #FFF;
}

.monster-icon-name-value {
    color: #FC0;
}



.quest-icon-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.quest-icon-name-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
}

.quest-icon-name-view img {
    max-width: 100%;
    max-height: 100%;
}

.quest-icon-name-text {
    margin-left: 5px;
    text-align: left;
    flex: 1;
}

.quest-icon-name-title {
    color: #FFF;
}

.quest-icon-name-description {
    color: #bbb;
}

.quest-icon-name-value {
    color: #FC0;
}


.nt-box-background {
    box-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
    border: 1px solid #999;
    background: #000A;
    border-radius: 4px;
}

.nt-box {
    position: relative;
    display: inline-block;
    color: #FFF;
    vertical-align: top;
    padding: 5px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: stretch;
}

.nt-box p img {
    vertical-align: bottom;
}

.nt-box > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nt-box:not(.no-width) > div {
    width: 288px;
}

.nt-box .overflow-box {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.nt-box .no-background {
    flex-direction: row;
    gap: 5px;
}

.nt-box .full-background {
    background: #111517;
    border: 1px solid #606467;
    box-shadow: 1px 1px 0px #111517, -1px -1px 0px #111517, 1px -1px 0px #111517, -1px 1px 0px #111517;
    text-shadow: var(--nt-txt-shadow);
    border-radius: 4px;
}

.nt-box .full-background .title {
    background: #393c3d;
    width: calc(100% - 8px);
    padding: 3px 4px 2px 4px;
    text-align: left;
    color: #FFA;
}

.nt-box .full-background .content {
    padding: 2px 4px 4px 4px;
}

.nt-box .half-background {
    box-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
    border: 1px solid #999;
    background: #232a2fAA;
    position: relative;
    text-shadow: var(--nt-txt-shadow);
    padding: 23px 3px 3px 3px;
    border-radius: 4px;
    justify-content: flex-start;
}

.nt-box .half-background .title {
    box-shadow: 1px 1px 0px #001818, -1px -1px 0px #001818, 1px -1px 0px #001818, -1px 1px 0px #001818;
    border-top: 1px solid #97a3b5;
    border-left: 1px solid #727e90;
    border-right: 1px solid #727e90;
    border-bottom: 1px solid #5b6779;
    background: #525e70;
    border-radius: 4px;
    width: 100%;
    padding: 3px 1px 2px 1px;
    position: absolute;
    top: -1px;
}

.nt-box .half-background .sub-title {
    background: #0005;
    text-align: center;
    margin-bottom: 3px;
    color: #FFA;
    text-shadow: var(--nt-txt-shadow);
    padding: 3px;
    display: inline-block;
    width: 100%;
}

.nt-box .half-background .sub-title:not(:first-child) {
    margin-top: 5px;
}


.nt-box .half-background .sub-title:not(:first-child):not(:nth-child(2)).mt15 {
  margin-top: 15px;
}

.nt-box .half-background .sub-title.mt0 {
    margin-top: 0px;
}

.nt-box .half-background .content {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nt-box .half-background .content.vertical {
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.nt-box .half-background .content.vertical.center {
    align-items: center;
}

.bonuses-list {
    color: rgb(255, 163, 71);
}

.bonuses-list > * {
    margin-top: 5px;
}

.found-in-box {
    background: rgba(0,0,0,0.5);
    border-radius: 2px;
    position: relative;
    padding: 5px 1px;
    width: 155px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.found-in-box img:not(.icon) {
    max-width: 100%;
    max-height: 200px;
}

.found-in-box .nt-slot-item {
    position:absolute;
    top: -3px;
    right: -3px;
}

.buff-link img,
.buff-span img {
    width: 15px; 
    height: 15px; 
    box-shadow: 1px 1px 1px #000; 
}

.color-rarity-2 { color: rgb(255, 144, 133); }
.color-rarity-1 { color: rgb(255, 168, 204); }
.color-rarity0 { color: inherit; }
.color-rarity1 { color: rgb(192, 189, 252); }
.color-rarity2 { color: rgb(114, 255, 133); }
.color-rarity3 { color: rgb(145, 205, 255); }
.color-rarity4 { color: rgb(14, 249, 2); }
.color-rarity5 { color: rgb(248, 226, 179); }
.color-rarity6 { color: rgb(254, 221, 2); }
.color-rarity7 { color: rgb(178, 243, 4); }
.color-rarity8 { color: rgb(255, 94, 0); }


#hover-element-name { 
    text-align: center;
    visibility:hidden; 
    z-index: 1000; 
    background-color: rgba(0,0,0,0.9);
    position: absolute; 
    top: -5000px; 
    pointer-events: none;
    color: #FFF;
    padding: 2px;
    white-space: nowrap;
}

.partner_skill {
    display: inline-flex;
    flex-direction: column;
}

.partner_skill_einfo {
    flex: 1;
}

.partner_skill_einfo > div {
    height: calc(100% - 40px);
}
  
.skill_levels {
    position: relative;
    box-shadow: 0 0 3px #000;
    border: 1px solid #999;
    background: #000A;
    border-radius: 4px;
    z-index: 1;
    margin-bottom: 3px;
}

.skill_levels p {
    display: inline-block;
    padding: 2px 9px;
    margin: 2px;
    border: 2px solid #0000;
    font-weight: bold;
    font-size: 18px;
    font-family: cursive;
    cursor: var(--nt-cursor-pointer);
    border-radius: 50%;
}

.skill_levels p.selected {
    border: 2px solid #F80;
    background: linear-gradient(#666, #333);
}

.shop-tabs {
    position: absolute; 
    top: 32px; 
    left: -67px;
    width: 62px; 
    display: flex; 
    flex-wrap: wrap;
}

.draggable.slot {
    position: absolute; 
    margin:auto; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0;
}

.draggable.slot.dragging {
    margin: initial !important; 
    bottom: initial !important; 
    right: initial !important; 
    z-index: 999;
    pointer-events: none;
}

.ui-state-disabled {
    opacity: 1 !important;
}

.simulator-statistic-tries-table {
    margin-bottom: 5px;
    overflow-x: hidden;
}

.save_slots {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.save_slot {
    border: 1px solid #AAAA; 
    text-align: center;
    border-radius: 7px / 10px;
    height: 40px; 
    flex: 1 0 21%;
    margin: 5px; 
    background: #000A;
    padding: 5px 5px; 
    position: relative; 
}

.save_slot.empty {
    background: #0005;
}

.save_slot::before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(50% - 6px);
    background: linear-gradient(#FFF3, #AAA2);   
    border-radius: 3px / 10px;
}

.save_slot:hover {
    cursor: var(--nt-cursor-pointer); 
    border: 1px solid #496cae; 
    box-shadow: 0px 0px 5px #81bad2;
}

.save_slot.selected {
    background: #000;
    border: 1px solid #496cae; 
    box-shadow: 0px 0px 5px 1px #81bad2;
}

.save_slot .save_slot_name {
    background: none;
    border: none;
    width: calc(100% - 10px);
}

.save_slot .save_slot_name::placeholder {
    color: #aaa;
}

.save_slot .save_slot_name:focus::placeholder {
    color: transparent;
    text-shadow: none;
}

.save_slot .save_slot_buttons {
    margin-top: 3px;
    display: none;
}

.save_slot .save_slot_buttons button {
    color: #9fecff;
    width: 30%;
    border: 1px solid #FFF2;
    border-radius: 3px;
    background: #FFF2;
    outline: none;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.save_slot .save_slot_buttons button:disabled {
    color: #FFF8;
    background: none;
    pointer-events: none;
}

.save_slot .save_slot_buttons button:not(:disabled):hover {
    cursor: var(--nt-cursor-pointer); 
    background: #FFF3;
}


.remove_button {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(/images/nt-images/remove_button.png);
    cursor: var(--nt-cursor-pointer);
    background-position: 0 0;
    width: 29px;
    height: 18px;
}

.remove_button:hover {
    background-position: -29px 0;
}

.remove_button:active {
    background-position: -58px 0;
}

.simulator_options {
    display: flex; 
    text-align:left; 
    color:#FFF; 
    padding: 5px;
    gap: 5px;
}

.simulator_options > div {
    flex: 1;
}

.simulator_options > div.used_items {
    flex: 0.6;
}

.simulator_options > div > div:not(:last-child) {
    padding-bottom: 3px;
}

.simulator_options_title {
    color: #FFA;
    margin-bottom: 4px;
}


.select_list {
    position: absolute;
    width: 300px;
    z-index: 50;
    display: none;
}

.select_list .pagination {
    height: 30px;
    background: #111;
    color: #FFF;
    border-radius: 3px;
    border: 1px solid #999;
    text-align: center;
    position: relative;
}

.select_list .pagination .next, 
.select_list .pagination .previous{
    width: 30px;
    height: 30px;
    background-image: url(/images/nt-images/way_arrow.png);
    background-size: contain;
    cursor: var(--nt-cursor-pointer);
    display: inline-block;
    vertical-align: top;
    margin: 0px 10px;
    user-select: none;
}

.select_list .pagination .previous{
    transform: rotate(180deg);
}

.select_list .pagination .pages{
    line-height: 30px;
    display: inline-block;
}

.select_list .pagination .clear_selected {
    position: absolute;
    left: 1px;
    top: 1px;
}

.select_list .items .item {
    display: none;
    flex-direction: row;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    background: linear-gradient(#333, #111);
    border-radius: 3px;
    border: 1px solid #999;
    cursor: var(--nt-cursor-pointer);
}

.select_list .items .item:hover {
    border: 1px solid #F80;
}

.select_list .items .item .icon {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select_list .items .item .icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: none;
}

.select_list .items .item .name {
    flex: 1;
    padding: 2px;
}

.perfection_points_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.perfection_points_box .pp_option {
  display: flex;
  align-items: center;
}

.perfection_points_box .pp_option img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.perfection_points_box .pp_option .pp_plus {
  flex: 0.3;
  text-align: left;
  color: #FC0;
}

.perfection_points_box .pp_option .plus_value {
  flex: 1;
  text-align: right;
  color: #aeaeff;
}