::-webkit-scrollbar {
  background: url(/images/scrollbar/scroll-base.png), url(/images/scrollbar/scroll-base2.png);
  background-repeat: no-repeat;
  background-size: 17px 100%, 100% 17px;
  width: 17px;
  height: 17px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #222222 #3F4856;
}
  
::-webkit-scrollbar-thumb:vertical {
  image-rendering: pixelated;
  background: url(/images/scrollbar/scroll-thumb-top.png), url(/images/scrollbar/scroll-thumb-bot.png), url(/images/scrollbar/scroll-thumb.png);
  background-repeat: no-repeat;
  background-position: top, bottom, center;
  background-size: 17px 5px, 17px 5px, 17px 100%;
  border-radius: 5px;
  border: 0px solid transparent;
  width: 17px;
}

::-webkit-scrollbar-thumb:horizontal {
  image-rendering: pixelated;
  background: url(/images/scrollbar/scroll-thumb-top2.png), url(/images/scrollbar/scroll-thumb-bot2.png), url(/images/scrollbar/scroll-thumb2.png);
  background-repeat: no-repeat;
  background-position: left, right, center;
  background-size: 5px 17px, 5px 17px, 100% 17px;
  border-radius: 5px;
  border: 0px solid transparent;
  height: 17px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  background: url(/images/scrollbar/scroll.png);
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-position: -18px 0;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background: url(/images/scrollbar/scroll.png) 0 -36px;
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-position: -18px -36px;
}


::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background: url(/images/scrollbar/scroll2.png);
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-position: 0px -18px;
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  background: url(/images/scrollbar/scroll2.png) -36px 0px;
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-position: -36px -18px;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}