.list {
    width: 100%; 
    border-spacing: 0px 2px;
}

.list tr {
    background-color: rgba(0,0,0,0.1);
}

.list tr:nth-child(even), .tabelaLista .coDrugi {
    background-color: rgba(0,0,0,0.2);
}

.list tr:not(.titles) {
    cursor: pointer;
}

.list tr:not(.titles):hover {
    background-color: rgba(255,255,0,0.6);
}


.list tr td:last-child,
.list tr th:last-child {
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px;
}

.list tr td:first-child,
.list tr th:first-child {
    border-bottom-left-radius: 10px; 
    border-top-left-radius: 10px;
}

.list .titles td,
.list th {
    background-color: rgba(0,0,0,0.8); 
    color: #FFF; 
    font-weight:bold; 
    text-align: center;
}

.list td,
.list th {
	padding: 5px 8px;
	vertical-align: middle;
    text-align:center;
    color:#FFF;
    text-shadow: var(--nt-txt-shadow);
}



.listing-items {
    display:flex;
    flex-flow: row wrap;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-align: left;
    padding: 0px 14px;
    position: relative;
}
  
.item-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    border: 1px solid #8883;
    font-size: 13px;
    box-shadow: none;
    transition: .2s;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding-bottom: 5px;
}

.item-box.like-einfo {
    box-shadow: 0 0 3px #000;
    border: 1px solid #999;
    background: #000A;
    color: #FFF;
}

.item-box.small {
    width: 170px;
}

.item-box.medium {
    width: 240px;
}

.item-box.bonus-box {
    width: calc(50% - 2px);
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

.item-box.directly .box-einfo {
    width: 199px;
    height: calc(100% - 40px);
}

.item-box:not(.like-einfo):not(.directly) {
    cursor: pointer;
}

.item-box.like-einfo {
    cursor: pointer;
}

.item-box:not(.like-einfo):not(.directly):hover {
    box-shadow: 0px 0px 30px #0008;
    z-index: 5;
    background-color: #FFF3;
}

.item-box.like-einfo:hover {
    box-shadow: 0px 0px 30px #0008;
    z-index: 5;
    background-color: #555C;
}

.item-box p {
    padding: 0px 5px;
    color: #f5c478;
}

.item-box.site-color p {
    color: inherit;
}



.item-box .raid-seal {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
}

.item-box .raid-name {
    font-size: 12px;
    opacity: 0.4;
    position: absolute;
    top: 6px;
    right: 38px;
}

.item-box .item-box-image {
    position: relative;
    width: 100%;
}


.item-box .item-box-image {
    height: 80px;
}

.item-box .item-box-image img {
    max-height: 80px;
}

.item-box .item-box-image.medium {
    height: 150px;
}

.item-box .item-box-image.medium img {
    max-height: 130px;
}

.item-box .item-box-image img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(30%, transparent), to(rgba(255, 255, 255, 0.2)));
}

.item-box.with-hidden .displayed-box {
    width: 100%;
    height: 100%;
}

.item-box.with-hidden .hidden-box {
    width: 100%;
    height: 100%;
    display: none;
}

.item-box .left-top {
    position: absolute;
    top: 2px;
    left: 2px;
}

.item-box .right-top {
    position: absolute;
    top: 2px;
    right: 2px;
}

.item-box .level {
    font-weight: bold;
    font-size:10px;
    margin-bottom: 5px;
}

.item-box .name,
.item-box .level {
    color: #FFF;
}

.item-box .plusWeapon {
    color: #defd02;
}

.item-box .plusArmor {
    color: #8d5a0a;
}

.item-box .bonus,
.item-box .attack,
.item-box .def0,
.item-box .res0,
.item-box .cellOpt,
.item-box .eleAttribute,
.item-box .time {
    margin-top: 10px;
}

.item-box .bonus,
.item-box .bonus p {
    color: #ff862c;
}



.listing-monsters {
    display:flex;
    flex-flow: row wrap;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-align: left;
    padding: 0px 14px;
    position: relative;
}

.monster-box {
    width: 15.5%;
    border: 1px solid #8883;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    transition: .2s;
    text-decoration: none;
    color: inherit;
    position: relative;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.monster-box:hover {
    box-shadow: 0px 0px 30px #0008;
    z-index: 5;
    background-color: #FFF3;
}

.monster-box .monster-box-image {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    min-height: 100px;
    margin-bottom: 5px;
}

.monster-box .main-image {
    max-height: 150px;
    max-width: 100%;
    pointer-events: none;
}

.monster-box .monster-name {
    font-weight: bold;
    margin-top: 5px;
}

.monster-box .top-left {
    position: absolute;
    top: 5px;
    left: 5px;
}

.monster-box .top-right {
    position: absolute;
    top: 5px;
    right: 5px;
}

.monster-box .top-left img, 
.monster-box .top-right img {
    width: 20px;
    height: 20px;
}

.monster-original-view {
    overflow: hidden;
}

.monster-original-view img {
    pointer-events: none;
    transform-origin: top;
}

.monster-original-view.red-shadow {
    filter: drop-shadow(0px 0px 0px #F000);
    animation: red_shadow 3s infinite;
}

@keyframes red_shadow {
	0% {filter: drop-shadow(0px 0px 0px #F000);}
	50% {filter: drop-shadow(0px -10px 2px #F00A);}
	100% {filter: drop-shadow(0px -10px 8px #F000);}
}




.specialist-details span {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

.specialist-details span.title {
    width: 150px;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
    vertical-align: middle;
}

.rainbox-shadow-anim {
    filter: drop-shadow(0px 0px 0px #F00);
    animation-name: rainbow-shadow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes rainbow-shadow {
    0% {filter: drop-shadow(0px 0px 0px #F000);}
    10% {filter: drop-shadow(0px 0px 5px #F00F);}
    25% {filter: drop-shadow(0px 0px 5px #F00F);}
    35% {filter: drop-shadow(0px 0px 0px #FF00);}
    45% {filter: drop-shadow(0px 0px 5px #FF0F);}
    60% {filter: drop-shadow(0px 0px 5px #FF0F);}
    70% {filter: drop-shadow(0px 0px 0px #0F00);}
    80% {filter: drop-shadow(0px 0px 5px #0F0F);}
    95% {filter: drop-shadow(0px 0px 5px #0F0F);}
    100% {filter: drop-shadow(0px 0px 0px #F000);}
  }




  .slideshow {
    white-space:nowrap;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 5px #000;
}

.containers {
    white-space:nowrap;
    display:block;
    width:100%;
    position: absolute;
    left:0px;
    top:0px;
}

.choose-slide {
    position: absolute;
    top:5px;
    left:50%;
    transform: translateX(-50%);
}

.container {
    width:100%;
    display:inline-block;
    white-space:normal;
}

.choose-dot {
    background: #0009;
    width:20px; 
    height:20px;
    border-radius:50%;
    display: inline-block;
    margin:5px; 
    border: 1px solid #000;
}

.choose-dot:hover {
    cursor: var(--nt-cursor-hover);
    border: 1px solid #F80;
}

.choose-dot.active {
    background: #F80C;
    width:20px; 
    height:20px;
    border-radius:50%;
    display: inline-block;
    margin:5px; 
    pointer-events: none;
}

.timespaces-list {
    display:flex;
    flex-flow: row wrap;
    position: relative;
    gap: 5px;
    margin-bottom: 20px;
}

.timespaces-list .item {
    box-shadow: 0 0 3px #000;
    border: 1px solid #999;
    background: #000A;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
    width: 5%;
}

.timespaces-list .item:hover {
    background-color: #555C;
}

.timespaces-list .item .image {
    padding: 5px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timespaces-list .item .image img {
    max-width: 36px;
    max-height: 36px;
}

.timespaces-list .item .name {
    padding: 5px;
}

.timespace-list-group-name {
    text-align: left;
    padding-bottom: 5px;
    font-size: 20px;
}