.timespace_rooms {
    position: relative; 
    margin: auto
}

.timespace_room {
    position: absolute; 
}

.timespace_room_content { 
    box-shadow: inset 0 0 0 1px #000; 
    border-radius: 10px; 
    cursor: var(--nt-cursor-pointer); 
    height: 100%; 
}

.timespace_room_content.start {background: linear-gradient(#090, #070);}
.timespace_room_content.empty {background: linear-gradient(#888, #666); }
.timespace_room_content.monsters {background: linear-gradient(#880, #660); }
.timespace_room_content.monsters.waiting {background: linear-gradient(#A60, #840); }
.timespace_room_content.fighting {background: linear-gradient(#900, #700); }


.room_portal {
    width: 20px; 
    height: 20px; 
    position: absolute; 
    transform: translate(-50%, -50%); 
    z-index: 1;
}

.room_lever {
    width: 20px; 
    height: 20px; 
    position: absolute; 
    transform: translate(-50%, -50%); 
    z-index: 2;
}

.room_lever:hover, 
.room_portal:hover, 
.timespace_room_content:hover {
    cursor: var(--nt-cursor-pointer); 
    filter: drop-shadow(0 0 2px #0F0) brightness(120%); 
}

.details_selected { 
    filter: drop-shadow(0 0 4px #F90) brightness(150%); 
}

.timespace_room_content.details_selected > * { 
    filter: drop-shadow(0 0 0 #0000) brightness(66.7%); 
}

.timespace_route {
    pointer-events: none;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}


.timespace_room_content .time { 
    position: absolute; 
    top: -3px; 
    right: -3px; 
    pointer-events: none; 
    display: inline-flex; 
}

.timespace_room_content .time span { 
    width: 15px; 
    height: 15px;
}

.timespace_room_content .time .waiting { 
    background-image: url("/images/icons/5803.png"); 
    background-size: contain; 
    background-repeat: no-repeat 
}

.timespace_room_content .time .clock { 
    background-image: url("/images/nt-images/nt_cursor_wait_1.png"); 
    background-size: contain; 
    background-repeat: no-repeat 
}

.timespace_room_content .time .clock.add:after { 
    content: '+'; 
    color: #0F0; 
    font-weight: bold; 
    position: absolute; 
    bottom: -2px; 
    right: -2px; 
    text-shadow: var(--nt-txt-shadow); 
}

.timespace_room_content .time .clock.subtract:after { 
    content: '-'; 
    color: #F00; 
    font-weight: bold; 
    position: absolute; 
    bottom: -2px; 
    right: -2px; 
    text-shadow: var(--nt-txt-shadow); 
}



.skytower_waves_buttons {
    display: flex; 
    gap: 5px; 
    justify-content: center; 
    margin-bottom: 5px;
}

.skytower_waves {
    position: relative; 
    display: inline-block; 
    margin: auto;
    overflow: hidden;
}

.skytower_wave {
    position: absolute; 
    top: 0; 
    left: 0;
    height: 100%; 
    width: 100%;
}

.skytower_wave .clock {
    position: absolute; 
    top:0px; 
    left: 5px; 
    color: #FF0; 
    font-weight: bold; 
    font-size: 32px; 
    -webkit-text-stroke: 2px #F90;
}

.skytower_wave .monster:hover img {
    filter: drop-shadow(0 0 3px #F00);
}